@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Montserrat+Alternates:ital,wght@1,300&family=Open+Sans:ital,wght@1,300&display=swap');

body {
    font-family: 'Bitter', serif, 'Montserrat Alternates', sans-serif, 'Open Sans', sans-serif;
    margin: 0;
   
}

main {
    max-width: 1200px;
    margin: 20px auto;
}

footer {
    text-align: center;
    border-top: 1px solid gray;
    padding: 10px;
    background-color: #e6f2ff;
}
header{
	background-color: #e6f2ff;
}

}
footer .fa {
  font-size: 40px;
  margin: 0 5px; 
  color: white;
}
footer .fa:hover {
  color: blue;
}
nav i.fa {
  font-size: 25px;
  margin: 0 5px; 
  color: white;
}
nav i.fa:hover {
  color: white;
}
nav{
	background-color: #e6f2ff;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	padding: 5px;
}
nav button {
  background-color: #000c1a; /* Set the background color of the buttons */
  border: none; /* Remove button border */
  color: white; /* Set text color */
  padding: 10px 15px; /* Add padding for better appearance */
  border-radius: 15px; /* Make the button rounded */
  cursor: pointer; /* Add a pointer cursor on hover */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Add box shadow */
}

nav button:hover {
  background-color: #66b3ff; /* Change background color on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.9); /* Change box shadow on hover */
  
}

nav ul{
	list-style-type: none;
	text-align: center;
	margin-bottom: 0
}
nav li{
	display: inline;
}
nav a{
	text-decoration: none;
	padding-right: 10px;
}
nav a:link{
	color: white;
}
nav a:visited{
	color: white;
}
nav a:hover{
	color: blue;
}
nav a:active{
	color: white;
}
a:link{
	color: #66b3ff;
}
a:visited{
	color: white;
}
a:hover{
	color: blue;
}
a:active{
	color: black;
}
small{
	color:black;
}

h1{
	text-align: center;
	font-size: 4.5em;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
h2{
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
h3{
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	color:#00004d;
	
}
	
h4{
	color: bold black;
	text-align: center;
	font-size: 1em
}
	
	
}
h5{
	text-align: center;
	
}
img{
    display: block;
    margin: 0 auto;
    border-radius: 10px; /* Set the border-radius for rounded corners */
    
}

.img-rounded-border {
    border: 3px solid black;
    border-radius:  25px;
	box-shadow: 0 5px 7px rgba(0, 0, 0, 0.6);
}

.home-naar {
    position: relative;
    height: 540px;
    padding: 10px 10px 10px 30px;
    border: 3px solid black;
    border-radius: 25px;
    background-image: url(images/header.png);
    background-size: cover;
    background-position: center;
	box-shadow: 0 5px 7px rgba(0, 0, 0, 0.6);
	transition: background-image 0.8s ease, opacity 0.8s ease;
    display: flex;
    flex-direction: column;
    align-items: center; /* Align children at the start of the container (vertically) */
    justify-content: flex-start; /* Align children at the start of the container (horizontally) */
    text-align: center;
}
.home-naar:hover {
    background-image: url(images/alternate-header.png); /* Replace 'alternate-header.png' with the path to your alternate image */
	 
}
.home-naar h3 {
    margin: 0; /* Remove default margin for better centering */
	font-size: 3.5em;
}
.main {
    margin-top: 15px; /* Adjust the value based on your preferred spacing */
}
.main2 {
    margin-top: 25px; 
}
.main3 {
    margin-top: 40px; 
}
.main3 .col-sm-4 i.fa {
    font-size: 60px; /* Set the size of the icon */
    color: solid black; /* Set the color of the icon */
    margin-bottom: 10px; /* Add some space between the icon and the text */
}

.main3 .col-sm-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}
.col-sm-4 a {
    text-decoration: none;
    color: #000c1a; 
  }

  .col-sm-4 a:hover {
    color: #66b3ff ; 
  }
.instagram-icon {
    font-size: 30px; /* Adjust the size as needed */
}
.linkedin-icon {
    font-size: 30px; /* Adjust the size as needed */
}
.language-icon {
    font-size: 30px; /* Adjust the size as needed */
}
.custom-button {
    background-color: #000c1a;
    color: #ffffff;
}
.custom-box {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); /* Adjust the values as needed */
}
.gallery .preview{
    width:100%
    height:auto;
}


.gallery .gallery-thumbnails img:hover {
    opacity: .8;
    cursor: pointer;
}

.gallery .preview img#preview {
    padding: 1px;
    max-width: 100%;
    height: auto;
    margin: 0 auto !important;
    display: block !important;
}
.gallery-thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.gallery-thumbnails img {
    width: 100px;
    height: 75px;
    margin: 3px 10px 10px 0;
}

canvas {
      border: 1px solid #d3d3d3;
	  background-image: url('images/repeating_image.jpg'); 
	  background-repeat: repeat;
	  border-radius: 10px;
	  overflow: hidden;
      }
	  
#game {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
}


/* Style the game controls */
.game-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2px;
}

.myButton {
  

 
  padding: 10px 15px; /* Add padding for better appearance */
  border-radius: 15px; /* Make the button rounded */
  cursor: pointer; /* Add a pointer cursor on hover */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Add box shadow */
  background-color: #000c1a;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 0px;
  
}

.restart-button {
  background-color: #f44336;
}

.restart-button:hover;
.myButton:hover {
  background-color: #66b3ff;
}


blockquote{
	background-color: #FFFFFF;
    border-left: 10px #FFFFFF;
    padding: 30px;
}
footer blockquote {
    background-color: #e6f2ff; 
    padding: 5px; 
    border-radius: 5px; 
}
.mobile{
	display:none;
}


	
	
/*Css for Tablets*/
@media only screen and (max-width: 1024px){
	h1{
		font-size: 2em;
	}
}
/*Css for Smartphones*/

@media only screen and (max-width: 768px){
	h1{
		font-size:1.5em;
	}
	.desktop{
		display:none;
	}
	.mobile{
		display: block;
		touch-action: manipulation;
	}
	
	nav button {
    margin-bottom: 6px;
    }
	.home-naar {
    position: relative;
    height: 260px;
    padding: 10px 10px 10px 30px;
    border: 3px solid black;
    border-radius: 25px;
    background-image: url(images/headerm.png);
    background-size: cover;
    background-position: center;
	box-shadow: 0 5px 7px rgba(0, 0, 0, 0.6);
	transition: background-image 0.8s ease, opacity 0.8s ease;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
    text-align: center;
    }
	.home-naar:hover {
    background-image: url(images/alternate-headerm.png); 

    }
	.home-naar h3{
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	color:#00004d;
	font-size: 2em;
	}
	

